<nav class="navbar fixed-top navbar-dark bg-faded">
  <a class="navbar-brand" href="#">ES Creator</a>
</nav>

<h1>Elder Scrolls Character Creator</h1>
<%= image_tag("ESLogo.png", :alt => "ES logo") %>

<div>
  <div class="col-lg-6">
    <button class="btn btn-primary">Log in | Sign up</button>
  </div>
  <div class="col-lg-6">
    <button class="btn btn-primary">Create as Guest</button>
  </div>
</div>
