<div class="container">


<h1>Elder Scrolls Character Creator</h1>
<%= image_tag("ESLogo.png", :alt => "ES logo") %>

<div>
  <div class="col-lg-6">
    <button class="btn btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Log in | Sign up</button>
  </div>
  <div class="col-lg-6">
    <button class="btn btn-primary">Create as Guest</button>
  </div>
</div>
</div>
