<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>
 
<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
    <strong>Race/Class: </strong>
    <%= @character.race %>
</p>
<%= link_to 'Character List', characters_path %>